/* CartStyles */

/* Generic */
.textCenter {
    text-align: center;
}

.marginBottom20 {
    margin-bottom: 20px;
}

.font18 {
    font-size: 18px;
}

/* Individual styles */
.cartHeader {
    composes: textCenter marginBottom20;
}

.item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 7px;
    box-shadow: 5px 5px 7px #ccc;
}

.itemHeader {
    padding: 10px 0;
    font-weight: bold;
}

.picture {
    float: left;
    margin: 0 10px 10px 0;
    max-width: 300;
}

.price {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0;
}

.orderButton {
    margin: 12px 0 60px 0;
    width: 200px;
}
