h1 Заказ
table
  thead
    tr
      th Цена
      th Наименование
      th Ссылка
  tbody
    each drawing in cart
      tr
        td= drawing.price
        td= drawing.title
        td <a href="http://вразрезе.рф/drawing/#{drawing._id}"">Посмотреть</a>

p Ответить: #{user.username}
