extends layout

block content
    .container
        h1 Новый чертеж
        p.lead Заполните по порядку данные поля
        form(role='form', action="/new", method="post", style='max-width: 500px;')
            .form-group
                input.form-control(type='text', name="title", placeholder='Заголовок')
            .form-group
                input.form-control(type='password', name="password", placeholder='Password')
            button.btn.btn-default(type='submit') Submit
            .form-group
                textarea.form-control
            &nbsp;
            a(href='/')
                button.btn.btn-danger(type="button") Cancel
