h2 Сброс пароля от учетной записи #{email}
p Здравствуйте, перейдите по ссылке ниже, для того чтобы сбросить пароль
a(href="http://xn--80adkaib3dc.xn--p1ai/reset/#{token}") Сбросить
p Если вы не отпраляли запрос, то игнорируйте это письмо, пароль не будет сброшен.
