/*Drawing styles*/

.linkClicked {
    pointer-events: none;
    cursor: default;
    color: #333333;
}

.linkNotClicked {
    color: #333333;
}

.linkNotClicked:hover {
    color: #555555;
}

.drawing {
    padding-top: 0;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.addToCartButton {
    margin-bottom: 10px;   
}
